@model ETicket.Models.Passenger

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Passenger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PassengerId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerNo" class="control-label"></label>
                <input asp-for="PassengerNo" class="form-control" />
                <span asp-validation-for="PassengerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournyDate" class="control-label"></label>
                <input asp-for="JournyDate" class="form-control" />
                <span asp-validation-for="JournyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
            <label asp-for="RouteCode" class="control-label"></label>
            <select asp-for="RouteCode" class="form-control" asp-items="ViewBag.RouteCode"></select>
            <span asp-validation-for="RouteCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RouteToCode" class="control-label"></label>
            <select asp-for="RouteToCode" class="form-control" asp-items="ViewBag.RouteToCode"></select>
            <span asp-validation-for="RouteToCode" class="text-danger"></span>
        </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

